/* calculator css */

.mycalc {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border-radius: 10px;
  background-color: purple;
}

.all-btn {
  display: flex;
}

.all-btn-numbers {
  display: flex;
  width: 210px;
  flex-wrap: wrap;
}

.all-btn-signs {
  display: flex;
  flex-direction: column;
}

.all-btn-numbers button {
  background-color: white;
  border: none;
  margin: 10px;
  color: red;
  font-size: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-btn-signs button {
  background-color: rgb(240, 240, 65);
  border: none;
  margin: 10px;
  color: black;
  font-size: 25px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-btn-signs button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px 5px rgb(223, 223, 217);
}

.all-btn-numbers button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px 5px rgb(223, 223, 217);
}

.btn-extra {
  display: flex;
}

.btn-extra button {
  background-color: rgb(240, 240, 65);
  border: none;
  align-items: center;
  color: black;
}

.btn-extra button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px 5px rgb(223, 223, 217);
}

.btn-clear-equals {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.btn-clear-equals button {
  width: 120px;
  font-size: 30px;
  padding: 5px;
  margin: 10px 5px;
  border: none;
}

.btn-clear-equals button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px 5px rgb(223, 223, 217);
}

input {
  width: 80%;
  margin: 10px 0px;
  font-size: 20px;
  padding: 10px;
}

input:focus {
  outline: none;
}

/* currancy converter */

.main-container {
  position: absolute;
  top: 0%;
  left: 50%;
  background-color: black;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selection-cont {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.selection-cont p {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: white;
}

select {
  font-size: 17px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  height: 30px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

select:focus {
  outline: none;
}

option {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: blueviolet;
}

button {
  background-color: gray;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button:hover {
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  padding: 3px 10px;
}

.result-cont {
  display: flex;
  background-color: white;
  margin: 15px;
  width: 200px;
  justify-content: center;
  border-radius: 10px;
}

.result-cont p {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
